.skeleton-3 {
    .header {
        display: inline-flex;

        .btn-skeleton {
            right: -20%;
        }
    }

    .footer {
        .days-skeleton {
            right: -30%;
        }
    }
}