<app-common-header
  [title]="title"
  isBackButtonActivate="true"
  backPageLink="/home/settings"
  isSmallLogoActivate="true"
>
</app-common-header>
<ion-content fullscreen class="ion-padding">
  <div>
    <p>If you have any questions or suggestions about our Terms and Conditions, do not hesitate to contact us on <a href="mailto:oraneintellisolutions@gmail.com"> oraneintellisolutions@gmail.com</a></p>
    </div>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="vertical-align-content">
        <ion-icon name="globe-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <a href="https://www.covithelp.in">www.covithelp.in</a> <br> 
        <a href="https://covithelp.org/" target="blank">www.covithelp.org</a> <br> 
        <a href="http://www.oranetech.com/" target="blank">www.oranetech.com</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="vertical-align-content">
        <ion-icon name="call-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <a href="tel:011- 4158 7447">011- 4158 7447</a>  <br>
         <a href="tel:+91-9886051916">+91-9886051916</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="vertical-align-content">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-col>
      <ion-col>
        <a href="mailto:info@oranetech.com">info@oranetech.com</a> <br>
      <a href="mailto:Oraneintellisolutions@gmail.com" class="aLink">Oraneintellisolutions@gmail.com</a>
      </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>
