<ion-content>
  <img src="assets/images/covithelpLogo.png" class="Img" />
  <div class="role">
    <div
      class="role-option"
      [ngClass]="{
      'role-option-activated': serviceRole === volunteer
    }"
      (click)="selectRole(volunteer)"
    >
      <ion-icon name="shield" size="large"></ion-icon>
      <span>Volunteer</span>
    </div>
    <div
      class="role-option"
      [ngClass]="{
      'role-option-activated': serviceRole === distressed
    }"
      (click)="selectRole(distressed)"
    >
      <ion-icon name="receipt" size="large"></ion-icon>
      <span>Distressed</span>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-button
    expand="full"
    (click)="chooseRole()"
    [disabled]="!serviceRole"
    style="color: black!important; font-weight:bold;"
    ion-button
    color="dark"
    >Continue</ion-button
  >
</ion-footer>
