<ion-content>
  <form [formGroup]="otpForm" novalidate>
    <img
      src="assets/images/covithelp-logo.png"
      alt="covithelp logo"
      title="covithelp logo"
    />
    <div>
      <ion-item>
        <ion-icon name="call"></ion-icon>
        <ion-input
          type="number"
          placeholder="Your country code "
          formControlName="countryCode"
          (input)="changeCountryCode($event.target.value)"
        ></ion-input>
        <ion-input
          type="number"
          placeholder=" Your mobile number "
          formControlName="phone"
          (input)="changePhone($event.target.value)"
        ></ion-input>
      </ion-item>
    </div>
    <div style="margin: 20px 0;">
      <ion-button
        expand="block"
        shape="flat"
        (click)="login()"
        color="primary"
        [disabled]="!otpForm.valid"
        >Send OTP</ion-button
      >
    </div>
  </form>
</ion-content>
