<div class="maps">
  <!-- <div class="search-bar" id="search-input">
    <input
      class="search-input"
      [(ngModel)]="searchPlace"
      placeholder="Search for location"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="off"
      type="text"
      #search
      (focus)="searchAddress()"
    />
  </div>
  <div id="my-location" class="location">
    <button class="location-btn" mat-button (click)="getCurrentPosition()">
      <mat-icon class="location-ic">my_location</mat-icon>
    </button>
  </div> -->
  <div #gmap class="gmap"></div>
</div>
