<app-common-header isFullLogoActivate="true" isLoggedAsActivate="true">
</app-common-header>
<ion-content fullscreen class="ion-padding">
  <!-- <ion-button
    expand="block"
    shape="flat"
    [routerLink]="['/home/settings/profile']"
    >Profile</ion-button
  > -->
  <ion-button [routerLink]="['/home/settings/faq']" expand="block" shape="flat"
    >FAQs</ion-button
  >
  <ion-button
    expand="block"
    shape="flat"
    [routerLink]="['/home/settings/terms']"
    >T&C</ion-button
  >
  <ion-button expand="block" shape="flat" [routerLink]="['/home/settings/help']"
    >Help</ion-button
  >
</ion-content>
